body {
    margin: 0;
}

*::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #4951588c;
}

.icons {
    display: flex;
    align-items: center;
}

.icon_container {
    padding: 8px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.no_margin{
    margin: 0 !important;
}